{% extends "shortest_path/base.html" %}

{% block title %}
  Encontrar menor caminho - {{ road_map.name }}
{% endblock %}

{% block body_block %}
<div class="jumbotron">
  <h1>{{ road_map.name }}</h1>
</div>
  {% if map_directions %}
  <form class="span6" id="family_form" method="post" action="/shortest_path/find_shortest_path/">
      {% csrf_token %}
      <input type='hidden' name='road_map' value='{{ road_map.id }}'>
    <select name='origins'>
      <option value='' selected>Origem</option>
      {% for origin in origins  %}
        <option value='{{ origin }}' >{{ origin }}</option>
      {% endfor %}
    </select>

    <select name='destinations'>
      <option value='' selected>Destino</option>
      {% for destination in destinations  %}
        <option value='{{ destination }}'>{{ destination }}</option>
      {% endfor %}
    </select>
    <br/>
    <label>Valor do Litro</label>
    <input class="form-control" id="litro" maxlength="128" name="litro" type="text">
    <br/>
    <label>Autonomia</label>
    <input class="form-control" id="autonomia" maxlength="128" name="autonomia" type="text">
    <button class="btn btn-default btn-primary" type="submit" name="submit">Calcular</button>
  </form>
  {% endif %}
{% endblock %}