{% extends "shortest_path/base.html" %}

{% block title %}
  Encontrar menor caminho - {{ road_map.name }}
{% endblock %}

{% block body_block %}
<div class="jumbotron">
  <h1>{{ road_map.name }}</h1>
</div>
  {% if map_directions %}
    <select name='origins'>
      <option value='' selected>Origem</option>
      {% for origin in origins  %}
        <option value='{{ origin }}' >{{ origin }}</option>
      {% endfor %}
    </select>

    <select name='destinations'>
      <option value='' selected>Destino</option>
      {% for destination in destinations  %}
        <option value='{{ destination }}'>{{ destination }}</option>
      {% endfor %}
    </select>
  {% endif %}
{% endblock %}